.item {
  width: 50%; }
  .item a {
    text-decoration: none;
    color: #000; }
  .item .product-name {
    padding: 0px 10px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .item .price {
    text-align: center;
    font-weight: 500; }
    .item .price .promo {
      text-decoration-line: line-through;
      font-size: 0.8em;
      color: #2b2b2b; }
  .item img {
    width: 80%;
    margin: 10%; }
